# Backend Environment Variables
MISTRAL_API_KEY=your-mistral-api-key
TAVILY_API_KEY=your-tavily-api-key-optional
HF_TOKEN=your-huggingface-token-optional


MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=artjudge


ART_CLASSIFIER_MODEL="dima806/painting-style-classifier"
# Admin Email
ADMIN_EMAIL=your-admin@gmail.com 

